// Place all the styles related to the concert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.concert_list {
	margin-top: 50px; 
}

.header {
	font-size: 5em;
}

.my_sidebar {
	background-color: rgba(0, 255, 245, 0.27);
}

.footer{
	margin-top: 150px;
	
	background-color: #eee;
}